body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
    color:#3a4347;
    font-weight: 500;
}

* { 
    box-sizing: border-box;
}

.hero-image-main {
    background-image: url("/assets/images/background.jpg");
    background-size: cover;
    min-height: 80vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-image-classes {
    background-image: url("/assets/images/studio-class.jpg");
    background-size: cover;
    min-height: 70vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero-image-contact {
    background-image: url("/assets/images/cactus.jpg");
    background-size: cover;
    min-height: 70vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150%;
    color: #fafafa;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 5px;
}

.navbar {
    padding: 8px 20px;
    font-weight: 500;
    background-color: #fcfcfc;
}

.navbar a:hover {
    color: #0c0c0c
}

a {
    text-decoration: none;
    color:#848c91;
}

/* Home page content --------------------------------------------------*/


.text-column {
    width: 50%;
    float: left;
    padding: 20px;
    text-align: justify;
}

.row {
    --bs-gutter-x: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.image-column {
    padding: 5px;
    width: 50%;
    float: left;
}

.house-picture {
    width: 100%;
    border-radius: 3px;
}

.classes-button {
    background-color: #fafafa;
    border: 1px solid #848c91;
    border-radius: 10px;
    padding: 5px;
}

.classes-button:hover {
    background-color: #848c91;
}

.classes-button:hover a {
    color: #fafafa;
}

/* Class page grid ---------------------------------------------------*/


.class-page-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    width: 80%;
    margin: 20px auto;
    justify-content: center;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 30px;
}

.class-page-grid .class-description {
    background-color: #fafafa;
    padding: 15px 30px;
}

.class-page-grid img {
    object-fit: cover;
    height: 70%;
    width: 100%;
    border-radius: 3px; 
}

.timetable {
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 5px;
}

table, th, td {
    border: 1px solid #848c916b;
    padding: 5px 10px;
    text-align: center;
}

#contact-button {
    display: flex;
    justify-content: center;
    margin: 20px;
}


/*Contact Page Content ------------------------------------------------*/

.contact-header {
    text-align: center;
    padding: 20px;
}

.form-container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
    gap: 20px;
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 3px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 10px;  
    background-color: #fcfcfc;
    border-radius: 3px;
}

label {
    background-color: #fcfcfc;
    padding: 20px 20px 0;
}

.submit-button {
    width:fit-content;
    float: right;
    border: 1px solid #848c91;
    border-radius: 10px;
    padding: 5px;
}

.submit-button:hover {
    background-color: #848c91;
    color:#fafafa;
    
}

.form-container iframe {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 3px;
}

.contact-info {
    background-color: #fcfcfc;
    border-radius: 3px;
    padding: 15px 20px;
    text-align: justify;
}

.contact-info i {
    color:#848c91;
}

/* Gallery Page -------------------------------------------------------*/

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    gap: 10px;
    margin: 0 20px;
    padding: 0 50px;
    border: 1px solid;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-position: cover;
    display: block;
}

.gallery-img-1 {
    grid-column-start: 1;
    grid-column-end: 5;
}

/*Make "item1" start on row 2 column 1, and span 2 rows and 3 columns:

  grid-area: 2 / 1 / span 2 / span 3*/

.gallery-img-2 {
    grid-column-start: 5;
    grid-column-end: 9;

    /*
    grid-area: 1 / 5 / span 4 / span 4;*/
}




/* Media Queries ------------------------------------------------------*/

@media (max-width: 768px) {
    .hero-image {
        min-height: 60vh;
    }
}

@media screen and (max-width: 768px) {
.text-column {
    width: 100%;
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.image-column {
    width: 100%;
    float: left;
}

.house-picture {
    width: 100%;
}

.search-box {
    display: none;
}
}

@media screen and (max-width: 768px) {
    .form-container iframe {
        object-fit: cover;
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

/* Footer -------------------------------------------------------------*/

footer {
    background-color: #fafafa;
    position: sticky;
    bottom: 0;
}

.socials {
    text-align: center;
}

.socials li {
    display: inline;
}

.socials i {
    color:#848c91;
    padding: 5px;
    margin: 5px;
    font-size: 180%;
    text-decoration: none;
}

.socials i:hover {
    color: #6c7074;
}
