body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fcfcfc;
    color:#2c3336;
    font-weight: 500;
}

* { 
    box-sizing: border-box;
}

.hero-image-main {
    background-image: url("/assets/images/background-image.jpg");
    background-size: cover;
    min-height: 70vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-image-classes {
    background-image: url("/assets/images/studio-class-compressed.jpg");
    background-size: cover;
    min-height: 70vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero-image-contact {
    background-image: url("/assets/images/cactus.jpg");
    background-size: cover;
    min-height: 70vh;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 150%;
    color: #fafafa;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 5px;
}

.navbar {
    padding: 8px 20px;
    font-weight: 500;
    background-color: #fcfcfc;
}

.navbar a:hover {
    color: #0c0c0c
}

a {
    text-decoration: none;
    color:#2c3336;
}

/* Home page content --------------------------------------------------*/


.text-column {
    width: 40%;
    float: left;
    padding: 20px;
    text-align: justify;
    margin: 20px 20px 20px auto;
}

.row {
    --bs-gutter-x: 0;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.image-column {
    padding: 20px 50px 20px 20px;
    width: 40%;
    float: left;
    margin: 20px  auto 20px 20px;
}

.house-picture {
    width: 90%;
    border-radius: 50%;
    float: right;
}

.classes-button {
    background-color: #fafafa;
    border: 1px solid #848c91;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

.classes-button:hover {
    background-color: #848c91;
}

.classes-button:hover a {
    color: #fafafa;
}

/* Class page grid ---------------------------------------------------*/

h3 {
    font-size: 1.3rem;
}
.class-page-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    width: 90%;
    margin: 20px auto;
    justify-content: center;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 30px;
}

.class-page-grid .class-description {
    background-color: #fafafa;
    padding: 15px 30px;
}

.class-page-grid img {
    object-fit: cover;
    height: 50%;
    width: 100%;
    border-radius: 3px; 
}

.timetable {
    display: flex;
    justify-content: center;
    align-content: space-around;
    padding: 5px;
}

table, th, td {
    border: 1px solid #848c916b;
    padding: 5px 10px;
    text-align: center;
}

#contact-button {
    display: flex;
    justify-content: center;
    margin: 20px;
}


/*Contact Page Content ------------------------------------------------*/

.contact-header {
    text-align: center;
    padding: 20px;
}

.form-container {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    justify-content: center;
    width: 60%;
    margin: 20px auto;
    gap: 20px;
    background-color: #f1f1f1;
    padding: 40px;
    border-radius: 3px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 20px 20px 20px;
    gap: 10px;  
    background-color: #fcfcfc;
    border-radius: 3px;
}

label {
    background-color: #fcfcfc;
    padding: 20px 20px 0 20px;
    font-size: 1.1rem;
}

.submit-button {
    width:fit-content;
    float: right;
    border: 1px solid #848c91;
    border-radius: 10px;
    padding: 5px;
}

.submit-button:hover {
    background-color: #848c91;
    color:#fafafa;  
}

.form-container iframe {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 3px;
}

.contact-info {
    background-color: #fcfcfc;
    border-radius: 3px;
    padding: 20px;
    text-align: justify;
    font-size: 1.1rem;
}

.contact-info i {
    color:#848c91;
    font-size: 0.9rem;
    margin-right: 5px;
}

/* Gallery Page -------------------------------------------------------*/

.gallery {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(16, 5vw);
    justify-content: center;
    gap: 10px;
    width: 90%;
    margin: 20px auto;
    padding: 30px;
    background-color: #f1f1f1;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-img-1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery-img-2 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
}

.gallery-img-3 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery-img-4 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 7;
}

.gallery-img-5 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 11;
}

.gallery-img-6 {
    grid-column-start: 6;
    grid-column-end: 11;
    grid-row-start: 7;
    grid-row-end: 11;
}

.gallery-img-7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 17;
}

.gallery-img-8 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 11;
    grid-row-end: 14;
}

.gallery-img-9 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 14;
    grid-row-end: 17;
}

.gallery-img-10 {
    grid-column-start: 8;
    grid-column-end: 11;
    grid-row-start: 11;
    grid-row-end: 17;
}

/* Media Queries ------------------------------------------------------*/

@media (max-width: 768px) {
    .hero-image {
        min-height: 60vh;
    }
}

@media screen and (max-width: 768px) {
.text-column {
    width: 100%;
    float: left;
}

.row::after {
    content: "";
    display: table;
    clear: both;
  }

.image-column {
    width: 100%;
    float: left;
}

.house-picture {
    width: 100%;
}

.search-box {
    display: none;
}
}

@media screen and (max-width: 768px) {
    .form-container iframe {
        object-fit: cover;
        height: 100%;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}

@media screen and (max-width: 768px) {
    .gallery {
        display: block;
        column-count: 2;
        row-gap: 10px;
    }
}

@media screen and (max-width: 450px) {
    .gallery {
        display: block;
        column-count: 1;
        row-gap: 10px;
    }
}

/* Footer -------------------------------------------------------------*/

footer {
    background-color: #848c91;
    position: sticky;
    bottom: 0;
}

.socials {
    text-align: center;
    margin-bottom: 0;
}

.socials li {
    display: inline;
}

.socials i {
    color:#fafafa;
    padding: 5px;
    margin: 5px;
    font-size: 2rem;
    text-decoration: none;
}

.socials i:hover {
    color: #6c7074;
}
